@media screen and (min-width: 768px) {
  .main-navigation ul li.bcmm-active {
    position: static; }
    .main-navigation ul li.bcmm-active.bcmm-doing-preview ul.sub-menu {
      display: block; }
    .main-navigation ul li.bcmm-active ul.sub-menu {
      position: absolute;
      width: 100%;
      z-index: 9999999999;
      border: 0;
      top: auto; }
      .main-navigation ul li.bcmm-active ul.sub-menu li {
        display: inline; }
        .main-navigation ul li.bcmm-active ul.sub-menu li a:not(.button) {
          width: auto;
          padding: 0; }
    .main-navigation ul li.bcmm-active .widget {
      margin-bottom: 3.631em;
      /**
					 * Tag clouds
					 */
      /**
					 * Product list widgets
					 */
      /**
					 * Product layout
					 * When product shortcodes are added to the mega menu.
					 */ }
      .main-navigation ul li.bcmm-active .widget ul:not(.products) {
        position: static;
        left: auto;
        display: block;
        float: none; }
        .main-navigation ul li.bcmm-active .widget ul:not(.products) li {
          display: list-item;
          background-color: transparent;
          margin: 0;
          padding: 0;
          border: 0;
          text-transform: none;
          display: inherit;
          width: auto;
          font-weight: normal; }
          .main-navigation ul li.bcmm-active .widget ul:not(.products) li:before, .main-navigation ul li.bcmm-active .widget ul:not(.products) li:after {
            display: none; }
          .main-navigation ul li.bcmm-active .widget ul:not(.products) li a {
            background-color: transparent;
            margin: 0;
            padding: 0;
            border: 0;
            text-transform: none;
            display: inherit;
            width: auto;
            font-weight: normal;
            display: inline; }
            .main-navigation ul li.bcmm-active .widget ul:not(.products) li a:after {
              display: none; }
            .main-navigation ul li.bcmm-active .widget ul:not(.products) li a:hover {
              background-color: transparent; }
          .main-navigation ul li.bcmm-active .widget ul:not(.products) li ul.children {
            margin-top: 0;
            margin-left: 1em;
            font-size: .857em;
            box-shadow: none;
            background-color: transparent; }
      .main-navigation ul li.bcmm-active .widget h3.widget-title {
        font-size: 1em;
        border: 0;
        padding: 0; }
      .main-navigation ul li.bcmm-active .widget table thead th {
        padding: .618em; }
      .main-navigation ul li.bcmm-active .widget table td,
      .main-navigation ul li.bcmm-active .widget table th {
        padding: .618em; }
        .main-navigation ul li.bcmm-active .widget table td a,
        .main-navigation ul li.bcmm-active .widget table th a {
          background-color: transparent;
          margin: 0;
          padding: 0;
          border: 0;
          text-transform: none;
          display: inherit;
          width: auto;
          font-weight: normal; }
      .main-navigation ul li.bcmm-active .widget .tagcloud a {
        background-color: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        text-transform: none;
        display: inherit;
        width: auto;
        font-weight: normal; }
      .main-navigation ul li.bcmm-active .widget ul.product_list_widget li {
        overflow: hidden;
        zoom: 1;
        margin-bottom: .618em; }
      .main-navigation ul li.bcmm-active .widget ul.products {
        position: static;
        left: auto;
        display: block;
        float: none; }
        .main-navigation ul li.bcmm-active .widget ul.products li {
          margin: 0;
          padding: 0;
          background-color: transparent;
          margin-bottom: 2.618em; }
          .main-navigation ul li.bcmm-active .widget ul.products li:hover,
          .main-navigation ul li.bcmm-active .widget ul.products li:hover a:first-of-type {
            background-color: transparent; }
          .main-navigation ul li.bcmm-active .widget ul.products li a:first-of-type:hover {
            background-color: transparent; }
          .main-navigation ul li.bcmm-active .widget ul.products li a {
            width: auto; }
            .main-navigation ul li.bcmm-active .widget ul.products li a:first-of-type {
              padding: 0; }
      .main-navigation ul li.bcmm-active .widget a.button,
      .main-navigation ul li.bcmm-active .widget a.added_to_cart {
        width: auto;
        display: inline-block; }
      .main-navigation ul li.bcmm-active .widget .columns-1 ul.products li.product {
        width: 100%;
        margin-right: 0;
        float: none; }
      .main-navigation ul li.bcmm-active .widget .columns-2 ul.products li.product {
        width: 47.8260869565%;
        float: left;
        margin-right: 4.347826087%; }
      .main-navigation ul li.bcmm-active .widget .columns-3 ul.products li.product {
        width: 30.4347826087%;
        float: left;
        margin-right: 4.347826087%; }
      .main-navigation ul li.bcmm-active .widget .columns-4 ul.products li.product {
        width: 21.7391304348%;
        float: left;
        margin-right: 4.347826087%; }
      .main-navigation ul li.bcmm-active .widget .columns-5 ul.products li.product {
        width: 16.9%;
        margin-right: 3.8%; }
    .main-navigation ul li.bcmm-active .bcmm-row:last-child > div .widget:last-of-type {
      margin-bottom: 0; }
    .main-navigation ul li.bcmm-active:hover a.button,
    .main-navigation ul li.bcmm-active:hover a.added_to_cart {
      background-color: inherit; }
  .bcmm-span-1 {
    width: 4.347826087%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-1 {
    margin-left: 8.6956521739%; }
  .bcmm-post-1 {
    margin-right: 8.6956521739%; }
  .bcmm-span-2 {
    width: 13.0434782609%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-2 {
    margin-left: 17.3913043478%; }
  .bcmm-post-2 {
    margin-right: 17.3913043478%; }
  .bcmm-span-3 {
    width: 21.7391304348%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-3 {
    margin-left: 26.0869565217%; }
  .bcmm-post-3 {
    margin-right: 26.0869565217%; }
  .bcmm-span-4 {
    width: 30.4347826087%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-4 {
    margin-left: 34.7826086957%; }
  .bcmm-post-4 {
    margin-right: 34.7826086957%; }
  .bcmm-span-5 {
    width: 39.1304347826%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-5 {
    margin-left: 43.4782608696%; }
  .bcmm-post-5 {
    margin-right: 43.4782608696%; }
  .bcmm-span-6 {
    width: 47.8260869565%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-6 {
    margin-left: 52.1739130435%; }
  .bcmm-post-6 {
    margin-right: 52.1739130435%; }
  .bcmm-span-7 {
    width: 56.5217391304%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-7 {
    margin-left: 60.8695652174%; }
  .bcmm-post-7 {
    margin-right: 60.8695652174%; }
  .bcmm-span-8 {
    width: 65.2173913043%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-8 {
    margin-left: 69.5652173913%; }
  .bcmm-post-8 {
    margin-right: 69.5652173913%; }
  .bcmm-span-9 {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-9 {
    margin-left: 78.2608695652%; }
  .bcmm-post-9 {
    margin-right: 78.2608695652%; }
  .bcmm-span-10 {
    width: 82.6086956522%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-10 {
    margin-left: 86.9565217391%; }
  .bcmm-post-10 {
    margin-right: 86.9565217391%; }
  .bcmm-span-11 {
    width: 91.3043478261%;
    float: left;
    margin-right: 4.347826087%; }
  .bcmm-pre-11 {
    margin-left: 95.652173913%; }
  .bcmm-post-11 {
    margin-right: 95.652173913%; }
  .bcmm-span-12 {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0; }
  .bcmm-pre-12 {
    margin-left: 104.347826087%; }
  .bcmm-post-12 {
    margin-right: 104.347826087%; }
  .bcmm-last {
    float: right;
    margin-right: 0; }
  .bcmm-mega-menu {
    padding: 2.618em; }
  .bc-legacy .bcmm-mega-menu {
    margin-left: -2.618em;
    margin-right: -2.618em; }
  .bcmm-row:before, .bcmm-row:after {
    content: "";
    display: table; }
  .bcmm-row:after {
    clear: both; } }
